.intro-projects {
  background-color: #C8F7C5
}
.intro-projects .project-header {
  text-align: center;
  justify-content: center;
}

.intro-projects .gallery {
  float: right;
  width: 60%;
}

.intro-projects .gallery img {
  margin-top: 100px;
  width: 108%;
  height: auto;

  -webkit-box-shadow: 3px 3px 5px 6px #b2bec3; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #b2bec3; /* Firefox 3.5 - 3.6 */
  box-shadow: 6px 6px 6px 6px #b2bec3; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.project-info {
  float: left;
  width: 40%;
  padding-right: 50px;
  margin-left: -20px;
  margin-top: 40px;
}

.project-info ul {
  margin-left: -50px;
}

.project-info .mongo-svg {
  width: 150px;
}

.project-info .redux{
  width: 50px;
  margin-top:-30px;
  margin-left:5px;
}

.project-info .express-svg {
  width: 105px;
  padding-top: 42px;
}

.project-info ul :nth-child(3) svg {
  width: 70px;
  padding-top: 35px;
}

.project-info ul :nth-child(4) svg {
  width: 115px;
  padding-top: 10px;
  margin-left: 5px;
}

.project-info li {
  float: left;
  list-style-type: none;
  display: inline;
  padding: 0px 10px;
  position: relative;
}

.project-info li svg {
  width: 95px;
  height: 90px;
  position: relative;
  display: inline;
  vertical-align: middle;
  padding-top: 30px;
}

/* =========================================================================================================== */
/* =========================================================================================================== */
/* =========================================================================================================== */

@media (max-width: 610px) {

  .project-info{
    margin-left: 0px;
  }

  .project-info .redux{
    width: 50px;
    margin-top:-20px!important;
    margin-left:5px;
  }

  .project-info ul :nth-child(3) svg {
    margin-top:-20px;
    margin-left: 3px!important;
   }

  .project-info ul :nth-child(4) svg {
   margin-top:-20px;
   margin-left: 3px!important;
  }
}

/* =========================================================================================================== */

@media (max-width: 900px) {
  .project-info{
    margin-left: 0px;
  }
}
/* =========================================================================================================== */


@media (max-width: 1200px) {
  .intro-projects .gallery {
    float: none;
    width: 100%;
  }

  .intro-projects .gallery img {
    margin-top: 100px;
    width: 100%;
    margin-right:50px;
  }

  .project-info {
    width: 100%;
  }
  .project-info p {
    padding-bottom: 20px;
  }
  .project-info .redux{
    margin-top:0px;
  }
  
  .project-info ul :nth-child(4) svg {
    padding-top: 42px;

  }
}

/* =========================================================================================================== */


@media (min-width: 1201px) {
.intro-projects .gallery img {
  width: 110%;
  margin-left:-5%;
}
}

/* =========================================================================================================== */


@media (min-width: 1415px) {
  .intro-projects .gallery img {
    margin-top: 100px;

    margin-left:-5%;
    width: 117%;
  }

}