

body {
	background:#f2f2f2;
	color: #fff;
	margin: 0;
	min-width: 320px;
}

.skills{
  padding-top:50px;
  padding-bottom: 50px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*outline: 5px solid #2b3956;*/
  	/*outline-offset: -5px;*/
	outline: 2px solid #f2f2f2;
	outline-offset: -2px;
}
.grid .grid-box {
	text-align: center;
	font-size: 250%;
	line-height:300%;
	/*border: 1px solid #000;*/
	outline: 1px solid #f2f2f2;
	border: 1px solid #f2f2f2;
	transition: all 0.15s ease-in-out;
}

.grid > div:hover {
	background: #fff;
	position: relative;
}


@media (min-width: 1200px) {
	.grid .grid-box img.special-sizing1{
	width:80px!important;
	}
	.grid .grid-box img.special-sizing2{
		width:160px!important;
	}
}