/* =========================================================================================================== */

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 40px 10px 10px 10px;
  overflow: hidden;
}

.nav-bar a {
  font-size: 18px;
  float: left;
  list-style-type: none;
  display: inline;
  padding: 0px 5px;
  position:relative;
  z-index:99;
}

.nav-bar a li {
  color: rgb(63, 61, 86);
  padding: 0px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
}

.nav-bar a li:hover {
  transition: 0.2s ease-in-out;
  color: #e58e26 !important;
}

/* select all elements when zoomed over 'resume' class */
.resume:hover > * {
  transition: 0.3s ease-in-out;
  color: #e58e26 !important;
}


/* =========================================================================================================== */

@media (max-width: 600px) {

  .nav-bar{
    float: left;
    margin-left:-10px;
    margin-top:-5px;
  }
}

@media (max-width: 900px) {

  .nav-bar{
    float: left;
    padding:0;
    margin-right:-150px;
  }


  .nav-bar a {
    font-size: 16px;
    float: none;
    display:block;
    padding: 5px 0px;
  }
  
  .nav-bar a li {
    text-align: left;
    padding: 0px 0px;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
  }

  
}

/* =========================================================================================================== */

